<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="LogFilePath" value="C:\\Users\\localadmin\\Documents\\enginetool.log"/>
    <add key="EngineViewCSVPath" value="C:\\Temp\\EngineView.csv"/>
    <add key="GameViewCSVPath" value="C:\\Temp\\GameView.csv"/>
  </appSettings>
</configuration>